%h1 Settings

%table.table.condensed.table-striped
  - @settings.each do |setting|
    %tr
      %td= setting.key
      %td= setting.value
      %td= link_to '<i class="icon-edit"></i>'.html_safe, edit_setting_path(setting)
      %td= link_to '<i class="icon-remove"></i>'.html_safe, setting, method: :delete, data: { confirm: 'Are you sure?' }
